* {
    background-color: #f0f2f5;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.top nav {
    height: 10vw;
    width: 100vw;
    position: relative;
    visibility: hidden;
}

.container0 {
    display: flex;

}

.container1{
    margin-top: 1.5vh;
    margin-left: 35.5vh;
    width:  35vw;
}

.facebook img {
    width: 20vw;
    margin-top: .3vh;
    margin-bottom: -5vh;
    margin-left: -5vh;
}

.paragraph {
    margin-left: -2vh;
    font-size: 3.5vh;
}

.paragraph p{
    width: 32vw;
    font-weight: lighter;
}

.container2_3{
    margin-left: 4vh;
    margin-top: -3vh;
}

.container2 {
    display: flow-root;
    text-align: center;
    border-radius: 1vh;
    align-items: center;
    width: 53vh;
    height: 45.5vh;
    background-color: white;
    box-shadow: .1px 3px 4px 3px lightgrey;
}

.container2 input {
    width: 53vh;
    height: 5vh;
    background-color: white;

}

.contA {
    margin-top: 2vh;
    display: flow-root;
    text-align: center;
    background-color: white;

}

.contA #Email {
    width: 46vh;
    border: 1px solid grey;
    border-radius: 1vh;
    height: 6vh;
    margin-bottom: 2vh;
    padding-left: 2vh;
    font-size: 2.1vh;
}

.contA #password {
    width: 46vh;
    border: 1px solid grey;
    border-radius: 1vh;
    height: 6vh;
    margin-bottom: 2vh;
    padding-left: 2vh;
    font-size: 2.1vh;
}



#login {
    display: flexbox;
    border-color: #1877f2;
    border-radius: 1vh;
    font-size: 2.2vh;
    border: 0px;
    width: 47.5vh;
    height: 6.2vh;
    color: white;
    background-color: #1877f2;
    font-weight:bolder;
    cursor: pointer;
}

#login :hover{
    color: darkblue;
}

#login a{
    background-color: #1877f2;
    color: white;
    text-decoration: none;
}

#fpass a{
    color: #1877f2;
    font-size: 1.9vh;
    text-decoration: none;
}

#fpass :hover{
    text-decoration: underline;
}

.container2 p{
    background-color: white ;
}

.container2 p a{
    background-color: white;
}

#hr{
    width: 45vh;
    border: .1px solid;
    color:  #dadde1;
}

.create{
    background-color: white;
}

.create button {
    font-weight: bold;
    font-size: 2.2vh;
    width: 25vh;
    height: 6.5vh;
    margin-top: 1.8vh;
    background-color: #42b72a;
    color: white;
    border: 0px;
    border-radius: 1vh;
    cursor: pointer;
}

.createpage{
    margin-top: 4vh;
    text-align: center;
}

.createpage a{
    color: black;
    text-decoration: none;
}

.createpage p{
            font-size: 14px;
}

.createpage a :hover{
    text-decoration: underline;
}




