* {
    background-color: #f0f2f5;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.top nav {
    height: 10vw;
    width: 100vw;
    position: relative;
    visibility: hidden;
}

.container0 {
    display: flex;

}

.container1{
    margin-left: 25vh;
    width:  38vw;
}

.facebook img {
    width: 20vw;
    margin-bottom: -5vh;
    margin-left: -5vh;
}

.paragraph {
    font-size: 4vh;
}

.container2_3{
    margin-top: -8vh;
}

.container2 {
    display: flow-root;
    text-align: center;
    border-radius: 1vh;
    box-shadow: .5px .5px .5px .5px;
    align-items: center;
    width: 52vh;
    height: 45vh;
    background-color: white;
}

.container2 input {
    width: 53vh;
    height: 5vh;
    background-color: white;

}

.contA {
    margin-top: 2vh;
    display: flow-root;
    text-align: center;
    background-color: white;

}

.contA #Email {
    width: 45vh;
    border: 1px solid grey;
    border-radius: 1vh;
    height: 6vh;
    margin-bottom: 2vh;
    padding-left: 2vh;
    font-size: 2.1vh;
}

.contA #password {
    width: 45vh;
    border: 1px solid grey;
    border-radius: 1vh;
    height: 6vh;
    margin-bottom: 2vh;
    padding-left: 2vh;
    font-size: 2.1vh;
}



#login {
    display: flexbox;
    border-radius: 1vh;
    font-size: 2.2vh;
    border: 0px;
    width: 55vh;
    height: 7vh;
    color: white;
    background-color: #1877f2;
    font-weight:bolder;
    cursor: pointer;
}

#login a{
    background-color: #1877f2;
    color: white;
    text-decoration: none;
}

.container2 p{
    background-color: white ;
}

.container2 p a{
    background-color: white;
}

#hr{
    width: 55vh;
    border: 1px solid #dadde1;
}

.create{
    background-color: white;
}

.create button {
    font-weight: bold;
    font-size: 2.2vh;
    width: 25vh;
    height: 6.5vh;
    margin-top: 2vh;
    background-color: #42b72a;
    color: white;
    border: 0px;
    border-radius: 1vh;
    cursor: pointer;
}

.createpage{
    margin-top: 5vh;
    text-align: center;
}

.createpage a{
    color: black;
    text-decoration: none;
}

.createpage p{
            font-size: 14px;
}

.createpage a :hover{
    text-decoration: underline;
}




